@charset "UTF-8";
.header {
  width: 100%;
  transition: .2s; }

label {
  cursor: pointer; }

.header-toggle {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-weight: 700;
  display: flex;
  width: 96px;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 2px; }
  .header-toggle i {
    font-style: unset;
    color: #5C4A4D;
    padding-right: 10px;
    font-weight: 700;
    font-size: 23px;
    line-height: 28px; }

.toggle-line__wrp {
  width: 22px;
  height: 14px;
  position: relative; }

.toggle-line {
  transition: .2s;
  width: 22px;
  height: 2px;
  display: inline-block;
  position: absolute;
  left: 0;
  background-color: #5C4A4D;
  border-radius: 5px; }

.toggle-line--first {
  top: 0; }

.toggle-line--second {
  top: 6px; }

.toggle-line--third {
  top: 12px; }

.toggle--active .toggle-line--first {
  top: 6px;
  transform: rotate(45Deg); }

.toggle--active .toggle-line--second {
  transform: scale(0, 1); }

.toggle--active .toggle-line--third {
  top: 6px;
  transform: rotate(-45Deg); }

.header--mobile {
  display: flex;
  padding: 24px;
  justify-content: space-between; }

.header-nav {
  margin-bottom: 30px; }

.header-nav__first-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 170px; }

.header-nav__first-link {
  text-align: center;
  text-decoration: none;
  color: #AEA4A2;
  font-size: 16px;
  font-weight: 700; }
  .header-nav__first-link:hover {
    color: #5C4A4D; }

.header-nav__logo--desktop {
  display: none; }

.header-nav__second-list {
  display: flex;
  flex-direction: column;
  align-items: center; }

.header-nav__second-link {
  font-weight: 700;
  color: #5C4A4D;
  width: 100%;
  text-align: center;
  text-decoration: none; }
  .header-nav__second-link:hover {
    color: #EA854F; }

.nav-left-side {
  margin-top: 15px;
  display: flex;
  padding-bottom: 115px;
  flex-direction: column;
  align-items: center;
  height: 75px;
  width: 100%;
  justify-content: space-between; }
  .nav-left-side a {
    margin-bottom: 12px;
    color: #AEA4A2; }
  .nav-left-side .select {
    min-width: unset; }
    .nav-left-side .select:hover .select__head {
      color: #EA854F; }
    .nav-left-side .select .select__list {
      left: calc(50% - 82px); }
      .nav-left-side .select .select__list li:hover a {
        color: #EA854F; }
      .nav-left-side .select .select__list a {
        text-decoration: none; }
    .nav-left-side .select .select__head {
      margin: 0 auto; }
      .nav-left-side .select .select__head::after {
        background: none; }

.search-btn {
  margin-top: 2px;
  border: none;
  transition: .2s;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0); }
  .search-btn svg {
    fill: #5C4A4D; }
  .search-btn:hover svg {
    fill: #EA854F !important; }
  .search-btn:active {
    transform: scale(0.9); }

.favorite-btn {
  transition: .2s;
  margin-top: 2px; }
  .favorite-btn svg {
    fill: none;
    stroke: #5C4A4D; }
  .favorite-btn:hover svg {
    stroke: #EA854F; }
  .favorite-btn:active {
    transform: scale(0.9); }

.nav-right-side {
  margin-top: 10px;
  display: flex;
  margin-left: 0 !important;
  justify-content: space-between;
  width: 200px;
  align-items: center; }

.header-basket {
  color: #5C4A4D;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  text-decoration: none;
  display: flex;
  align-items: center; }
  .header-basket:hover {
    color: #EA854F; }
    .header-basket:hover svg {
      stroke: #EA854F;
      fill: #EA854F; }
  .header-basket svg {
    stroke: #5C4A4D;
    fill: #5C4A4D;
    margin-right: 11px; }

.header-banner {
  margin: 0 auto;
  display: block;
  width: 100%;
  padding: 0 25px; }
  .header-banner .header__banner-image {
    width: 100%;
    height: auto; }

@media (min-width: 940px) {
  .header {
    padding: 0 40px; }
  .header--mobile {
    display: none; }
  .header-logo {
    width: 166px; }
  .header-nav__first-list {
    border-bottom: 1px solid #E0DAD4;
    height: 50px;
    align-items: center;
    flex-direction: row; }
    .header-nav__first-list :first-child {
      margin-right: calc(50% - 313px);
      text-align: left;
      width: 90px; }
    .header-nav__first-list :last-child {
      width: 128px;
      text-align: right;
      margin-left: calc(50% - 350px); }
  .header-nav__second-list {
    padding-top: 25px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
    .header-nav__second-list .nav-left-side, .header-nav__second-list .nav-right-side {
      margin: 0;
      flex-direction: row;
      justify-content: space-between;
      width: 296px; }
    .header-nav__second-list .nav-right-side {
      width: 212px;
      margin-left: 20px;
      order: 3; }
    .header-nav__second-list .header-nav__logo--desktop {
      display: block;
      width: 166px;
      height: 72px;
      margin-right: 46px; }
    .header-nav__second-list .nav-left-side {
      padding-bottom: 0;
      width: 412px;
      order: 2; }
      .header-nav__second-list .nav-left-side a {
        color: #5C4A4D; }
      .header-nav__second-list .nav-left-side .select {
        width: auto;
        margin-bottom: 10px; }
        .header-nav__second-list .nav-left-side .select .select__head {
          font-size: 19px;
          line-height: 24px;
          color: #5C4A4D;
          font-weight: 700; }
        .header-nav__second-list .nav-left-side .select .select__list {
          max-height: 350px; }
  .header-nav__second-link {
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    width: auto;
    text-align: left; }
  .header-banner {
    padding: 0; }
  .header-nav {
    margin-bottom: 25px; }
  .header {
    max-width: 1352px;
    margin: 0 auto; } }

@media (min-width: 1400px) {
  .header {
    padding: 0; } }

.card-wrp {
  padding: 0 25px;
  margin-top: 25px;
  transition: .2s; }

.card {
  min-height: 380px;
  padding-bottom: 24px;
  margin-bottom: 24px;
  background-color: #FCFBF9;
  border-radius: 15px;
  display: flex;
  flex-direction: column; }

.card-img-wrp {
  width: 100%;
  height: 220px;
  overflow: hidden;
  position: relative;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px; }
  .card-img-wrp img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

@media (max-width: 380px) {
  .card-img-wrp img {
    width: 120%; } }

.card-price {
  font-weight: bold;
  font-size: 23px;
  line-height: 28px;
  font-feature-settings: 'salt' on;
  color: #5C4A4D;
  padding-right: 8px; }

.card-dividing-line {
  color: #E0DAD4;
  padding-right: 8px; }

.card-weight {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
  font-feature-settings: 'salt' on;
  color: #AEA4A2; }

.card-number-wrp {
  height: 30px;
  margin: 20px 24px 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center; }

.card-name {
  margin-left: 24px;
  margin-bottom: 20px;
  margin-right: 24px;
  font-size: 19px;
  line-height: 24px;
  color: #716063;
  font-weight: bold;
  margin-top: 5px; }

.card-basket-btn {
  cursor: pointer;
  margin-right: 12px;
  padding: 0 20px;
  height: 40px;
  background: #92525D;
  border-radius: 12px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  transition: .2s;
  letter-spacing: 0.01em;
  color: #FCFBF9;
  border: none; }
  .card-basket-btn:hover {
    color: #FCFBF9;
    background: #7D4550; }
  .card-basket-btn:disabled {
    color: #AEA4A2;
    border: 1px solid #E0DAD4;
    cursor: default;
    background-color: #FCFBF9 !important; }

.card-btns {
  margin-left: 24px;
  margin-right: 24px;
  margin-top: auto;
  display: flex; }

.card-favorite-btn {
  display: none; }

.card-favorite-btn + label {
  height: 40px;
  width: 40px;
  border: 1px solid rgba(146, 82, 93, 0.24);
  border-radius: 12px;
  display: inline-block;
  flex-shrink: 0;
  position: relative; }
  .card-favorite-btn + label:hover {
    background: #F9F6F0; }

.favor-not-checked, .favor-checked {
  position: absolute;
  transition: .3s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.card-favorite-btn:checked + label .favor-not-checked {
  max-width: 0px;
  max-height: 0px; }

.card-favorite-btn:checked + label .favor-checked {
  max-width: 16px;
  max-height: 14px; }

.favor-not-checked {
  width: 16px;
  height: 14px;
  max-width: 16px;
  max-height: 14px; }

.favor-checked {
  width: 16px;
  height: 14px;
  max-width: 0px;
  max-height: 0px; }

@media (min-width: 540px) and (max-width: 630px) {
  .card-img-wrp img {
    width: 145%; } }

@media (min-width: 540px) {
  .card-wrp {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between; }
    .card-wrp:after {
      display: flex;
      content: '';
      width: calc(33.3% - 27px); }
  .card {
    width: calc(50% - 12px); }
    .card .card-basket-btn {
      color: #92525D;
      background-color: #FCFBF9;
      border: 1px solid rgba(146, 82, 93, 0.24); }
      .card .card-basket-btn:hover {
        background-color: #F9F6F0; }
      .card .card-basket-btn:disabled {
        color: #AEA4A2;
        border: 1px solid #E0DAD4;
        cursor: default;
        background-color: #FCFBF9 !important; } }

@media (min-width: 630px) and (max-width: 720px) {
  .card-img-wrp img {
    width: 125%; } }

@media (min-width: 940px) {
  .card-wrp {
    padding: 0 40px;
    margin-top: 40px; }
    .card-wrp:after {
      width: calc(33.3% - 27px); }
  .card {
    width: calc(33.3% - 27px); } }

@media (min-width: 940px) and (max-width: 1119px) {
  .card-img-wrp img {
    width: 130%; } }

@media (min-width: 1119px) {
  .card-wrp {
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto; }
    .card-wrp:after {
      width: calc(25% - 30px); }
  .card {
    width: calc(25% - 30px); }
  .card-img-wrp img {
    width: 120%; } }

@media (min-width: 1119px) and (max-width: 1220px) {
  .card-basket-btn:disabled {
    padding: 0 7px; } }

@media (min-width: 1119px) and (max-width: 1269px) {
  .card-img-wrp img {
    width: 145%; } }

@media (min-width: 1400px) {
  .card-wrp {
    padding: 0; } }

.select {
  position: relative;
  display: block;
  min-width: 220px;
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px; }

.select__head {
  width: max-content;
  margin-top: 16px;
  max-width: 100%;
  position: relative;
  border-radius: 10px;
  font-size: 16px;
  line-height: 16px;
  color: #AEA4A2;
  cursor: pointer; }

.select__head::after {
  width: 10px;
  right: -18px;
  height: 6px;
  background: url("../img/select.svg") no-repeat center/cover;
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  content: '';
  display: block;
  transition: .2s ease-in; }

.select__head.open::after {
  transform: translateY(50%) rotate(180deg); }

.select__list {
  display: none;
  position: absolute;
  top: 26px;
  width: 165px;
  font-weight: 700;
  left: -7px;
  right: 0;
  background: #FCFBF9;
  box-shadow: 0 0 4px rgba(126, 126, 126, 0.2);
  border-radius: 10px;
  margin-top: 5px;
  max-height: 205px;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 100;
  margin: 0;
  padding: 0;
  color: #AEA4A2;
  font-size: 14px;
  color: #424348;
  scrollbar-color: dark;
  scrollbar-width: thin;
  overscroll-behavior: contain; }

.select__list::-webkit-scrollbar {
  width: 7px;
  background-color: #F8F9FA;
  padding: 5px; }

.select__list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #D9D9D9; }

.select__list .select__item {
  position: relative;
  color: #5C4A4D;
  border-top: 1px solid rgba(226, 226, 226, 0.35);
  padding: 10px 15px;
  cursor: pointer;
  list-style-type: none; }

.select__list .select__item:hover {
  color: #EA854F; }

.catalog-nav__h2 {
  font-family: 'Neucha', cursive;
  font-size: 43px;
  line-height: 48px;
  color: #5C4A4D;
  padding-top: 25px;
  font-weight: 400; }

.catalog-nav {
  margin: 0 25px;
  border-top: 1px solid #E0DAD4; }

@media (min-width: 540px) {
  .catalog-nav {
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .catalog-nav__h2 {
    padding-top: 0; }
  .catalog-nav .select {
    width: max-content;
    min-width: 0;
    text-align: right;
    margin-bottom: 0; }
  .catalog-nav .select__head {
    margin-top: 0;
    padding-right: 18px; }
  .catalog-nav .select__head::after {
    width: 10px;
    right: 0px; }
  .catalog-nav .select__list {
    text-align: left;
    right: -5px;
    left: unset; } }

@media (min-width: 940px) {
  .catalog-nav {
    margin: 0 40px;
    border-top: 0px solid #E0DAD4;
    flex-direction: column;
    align-items: center; }
  .catalog-nav__h2 {
    font-size: 65px;
    line-height: 68px;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 20px; }
  .catalog-nav .select {
    width: 180px;
    min-width: 0;
    text-align: right;
    margin-bottom: 0; }
  .catalog-nav .select__head {
    margin: 0 auto; }
  .catalog-nav .select__list {
    right: 7px; } }

.item-wrp {
  width: 100%;
  padding: 0 25px; }

.item-img-wrp {
  border-radius: 20px;
  overflow: hidden;
  line-height: 0;
  height: auto; }
  .item-img-wrp img {
    width: 100%;
    height: auto; }

.item-body-wrp {
  margin-top: 30px; }
  .item-body-wrp h3 {
    font-family: 'Neucha', cursive;
    font-size: 35px;
    line-height: 40px;
    color: #5C4A4D;
    font-weight: 300; }

.item-description {
  margin-top: 20px;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  font-feature-settings: 'salt' on;
  color: #716063; }

.item-select {
  max-width: unset; }
  .item-select .select__head {
    border-radius: 16px;
    padding: 33px 20px 11px 20px;
    background-color: #FCFBF9;
    color: #5C4A4D;
    width: 100%;
    font-weight: 700; }
    .item-select .select__head::after {
      bottom: 21px;
      right: 21px; }
  .item-select .select__list {
    margin-top: 10px;
    left: 0;
    top: 65px;
    width: 100%;
    border-radius: 16px; }

.item-select--weight::before, .item-select--bases::before {
  content: 'Вес';
  position: absolute;
  z-index: 2;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
  font-feature-settings: 'salt' on;
  color: #AEA4A2;
  top: 12px;
  left: 20px; }

.item-select--bases::before {
  content: 'Основа торта'; }

.item-btns {
  display: flex;
  justify-content: space-between; }
  .item-btns button {
    border-radius: 16px;
    height: 55px;
    width: calc(100% - 70px);
    color: rgba(255, 255, 255, 0.64);
    margin: 0; }
    .item-btns button i {
      margin: 0 12px; }
    .item-btns button span {
      color: #FCFBF9; }
  .item-btns label {
    width: 55px;
    height: 55px;
    border-radius: 16px;
    background: #FCFBF9;
    border: none; }
  .item-btns .card-favorite-btn:checked + label .favor-checked {
    max-width: 20px;
    max-height: 18px; }
  .item-btns .favor-not-checked {
    max-width: 20px;
    max-height: 18px;
    width: 20px;
    height: 18px; }
  .item-btns .favor-checked {
    max-width: 0px;
    max-height: 0px;
    width: 20px;
    height: 18px; }

.item-text-wrp {
  margin-bottom: 140px;
  margin-top: 45px;
  padding-top: 40px;
  border-top: 1px solid #E0DAD4;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: #AEA4A2; }
  .item-text-wrp p {
    margin-bottom: 23px; }

.basket-fixed {
  text-decoration: none;
  cursor: pointer;
  color: #FCFBF9;
  font-size: 23px;
  line-height: 28px;
  font-weight: 700;
  position: fixed;
  width: 100%;
  height: 68px;
  line-height: 68px;
  text-align: center;
  bottom: 0px;
  background: #EA854F;
  border-radius: 16px 16px 0px 0px;
  left: 0px;
  z-index: 100; }

.breadcrumb {
  display: none; }

.item-desktop-copyright {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
  font-feature-settings: 'salt' on;
  color: #AEA4A2;
  margin-bottom: 90px; }

@media (min-width: 540px) {
  .item-select-wrp {
    margin: 25px 0;
    display: flex;
    justify-content: space-between; }
  .item-select {
    margin-bottom: 0;
    width: 49%; }
    .item-select .select__head {
      margin-top: 0; } }

@media (min-width: 940px) {
  .item-wrp {
    align-items: flex-start;
    margin-top: 50px;
    display: flex;
    padding: 0 40px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto; }
  .item-img-wrp {
    width: calc(100% - 440px); }
  .item-body-wrp {
    width: 400px;
    margin-top: 0; }
  .item-select--weight {
    width: 120px;
    min-width: 120px; }
  .item-select--bases {
    width: calc(100% - 140px); }
  .basket-fixed {
    display: none; }
  .item-desktop-copyright {
    margin-bottom: 40px; }
  .breadcrumb {
    display: flex;
    list-style: none;
    margin-bottom: 28px; }
    .breadcrumb .breadcrumb__link {
      font-weight: 700;
      margin-right: 12px;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.01em;
      color: #AEA4A2;
      text-decoration: none; }
      .breadcrumb .breadcrumb__link::after {
        margin-left: 12px;
        content: url("../img/breadcrumb.svg"); }
      .breadcrumb .breadcrumb__link:hover {
        color: #5C4A4D; }
    .breadcrumb .breadcrumb__link--active::after {
      display: none; } }

@media (min-width: 1119px) {
  .item-wrp {
    max-width: 1352px;
    padding: 0 40px; } }

.basket-item {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  position: relative;
  border-top: 1px solid rgba(171, 168, 159, 0.18);
  border-bottom: 1px solid rgba(171, 168, 159, 0.18); }
  .basket-item__wrp {
    margin: 25px 24px; }
  .basket-item__img-wrp {
    width: 80px;
    flex-shrink: 0;
    height: 80px;
    position: relative;
    border-radius: 12px;
    overflow: hidden; }
    .basket-item__img-wrp img {
      height: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      width: 160%; }
  .basket-item__descr-wrp {
    width: 100%;
    margin-left: 20px; }
  .basket-item__close-btn {
    position: absolute;
    top: 25px;
    width: 14px;
    height: 14px;
    right: 0;
    transition: .2s;
    cursor: pointer; }
    .basket-item__close-btn:active {
      transform: scale(0.8); }
  .basket-item__title {
    font-weight: 600;
    font-size: 19px;
    line-height: 24px;
    color: #5C4A4D;
    margin-bottom: 8px;
    padding-right: 20px; }
  .basket-item__descr {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: #AEA4A2; }
  .basket-item__counter {
    width: 92px;
    height: 40px;
    background: #FCFBF9;
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 12px; }
    .basket-item__counter .minus, .basket-item__counter .plus {
      height: 100%;
      transition: .2s;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      -webkit-touch-callout: none;
      /* iOS Safari */
      -webkit-user-select: none;
      /* Chrome/Safari/Opera */
      -khtml-user-select: none;
      /* Konqueror */
      -moz-user-select: none;
      /* Firefox */
      -ms-user-select: none;
      /* Internet Explorer/Edge */
      user-select: none; }
      .basket-item__counter .minus:active, .basket-item__counter .plus:active {
        transform: scale(0.8); }
    .basket-item__counter input {
      width: 35px;
      border: none;
      font-size: 16px;
      background: #FCFBF9;
      text-align: center;
      letter-spacing: 0.01em;
      color: #5C4A4D;
      font-family: 'Nunito', sans-serif !important; }
  .basket-item__price {
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    text-align: right;
    color: #716063; }
  .basket-item__footer {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between; }

@media (min-width: 940px) {
  .basket-form {
    display: flex;
    justify-content: space-between;
    width: 940px;
    margin: 0 auto;
    margin-top: 30px; }
  .basket-item__wrp {
    margin-left: 0;
    margin-right: 0;
    width: 480px; }
  .basket-input__select .item-select--date, .basket-input__select .item-select--time {
    min-width: 0px; }
    .basket-input__select .item-select--date div, .basket-input__select .item-select--time div {
      width: 180px !important; }
  .basket-input__wrp {
    width: 380px;
    margin: 24px 0 0 0 !important;
    border-top: 1px solid rgba(171, 168, 159, 0.18); }
  .basket-input__check-wrp--payment {
    margin-bottom: 40px !important; }
  .basket-item:last-child {
    border-bottom: none; } }

.basket-input__wrp {
  margin: 0 25px; }

.basket-input__title {
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  color: #5C4A4D;
  margin-bottom: 20px;
  margin-top: 12px; }

.basket-input__item {
  width: 100%;
  height: 68px;
  padding: 12px 20px;
  border: none;
  margin-bottom: 20px;
  background: #FCFBF9;
  border-radius: 16px;
  position: relative;
  padding-top: 32px;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: #5C4A4D; }

.basket-input__before {
  display: block;
  position: relative; }
  .basket-input__before::before {
    position: absolute;
    z-index: 2;
    display: block;
    top: 12px;
    left: 20px;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: #AEA4A2; }

.basket-input__before--name::before {
  content: 'Имя'; }

.basket-input__before--tel::before {
  content: 'Телефон'; }

.basket-input__before--email::before {
  content: 'Электронная почта'; }

.basket-input__select .select__head {
  font-size: 19px;
  line-height: 24px;
  margin-top: 0; }

.basket-input__select .item-select--bases::before {
  content: 'Город'; }

.basket-input__select .select__list {
  margin-top: 20px; }

.basket-input__check-wrp {
  width: 100%;
  padding: 20px;
  background: #FCFBF9;
  border-radius: 16px;
  margin-bottom: 20px; }
  .basket-input__check-wrp input {
    display: none; }
  .basket-input__check-wrp input + label::before {
    border: 2px solid #EA854F;
    border-radius: 50%;
    width: 20px;
    background-color: #FCFBF9;
    height: 20px;
    content: '';
    transition: .2s;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block; }
  .basket-input__check-wrp label {
    margin-bottom: 20px;
    padding-left: 42px;
    position: relative;
    display: flex;
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    color: #5C4A4D;
    flex-direction: column; }
    .basket-input__check-wrp label span {
      color: #AEA4A2; }
  .basket-input__check-wrp label:last-child {
    margin-bottom: 0; }
  .basket-input__check-wrp input:checked + label::before {
    box-shadow: 0 0 0 4px #FCFBF9 inset;
    background-color: #EA854F; }

.basket-input__before--adress::before {
  font-weight: 700;
  content: 'Адрес доставки'; }

.basket-input__select .item-select--date::before {
  content: 'Дата получения'; }

.basket-input__select .item-select--time::before {
  content: 'Интервал'; }

.basket-input__before--comment::before {
  content: 'Комментарий к заказу'; }

.basket-input__before--coupon::before {
  content: 'Купон'; }

.basket__final-list {
  background: #FCFBF9;
  border-radius: 16px;
  padding: 20px;
  padding-bottom: 0; }
  .basket__final-list button {
    background: #92525D;
    border-radius: 0px 0px 16px 16px;
    border: none;
    width: calc(100% + 40px);
    margin-left: -20px;
    height: 56px;
    margin-top: 20px;
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    color: #FCFBF9;
    transition: .2s;
    cursor: pointer; }
    .basket__final-list button:hover {
      background-color: #7D4550; }
    .basket__final-list button:disabled {
      background-color: #AEA4A2 !important;
      color: #E0DCDA; }

.basket-input__title--payment {
  margin-top: 32px; }

.basket__final-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: #716063;
  margin-bottom: 4px; }
  .basket__final-item span {
    color: #AEA4A2; }
  .basket__final-item:last-child {
    margin-bottom: 16px; }

.basket-form {
  margin-bottom: 60px; }

.basket__final-count {
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: #5C4A4D;
  display: flex;
  padding-top: 16px;
  border-top: 1px solid rgba(171, 168, 159, 0.18);
  justify-content: space-between; }

@media (min-width: 540px) {
  .item-select--date, .item-select--time, .item-select--bases-basket {
    width: 100%;
    margin-bottom: 20px; }
  #delivery-check--1 + label, #pay-method-check--1 + label {
    margin-bottom: 0;
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(171, 168, 159, 0.18); }
  #delivery-check--2 + label, #pay-method-check--2 + label {
    margin-top: 16px; }
  #delivery-check--1 + label::before, #pay-method-check--1 + label::before {
    top: calc(50% - 8px); }
  .basket-input__select--date {
    display: flex;
    justify-content: space-between; }
    .basket-input__select--date div {
      width: 48%; } }

.cabinet-login, .cabinet-registr {
  max-width: 568px;
  width: calc(100% - 48px);
  margin: 45px auto; }

.basket-input__before--code::before {
  content: 'Код подтверждения' !important; }

.cabinet-btn {
  cursor: pointer;
  width: 100%;
  height: 56px;
  text-align: center;
  background-color: #92525D;
  border-radius: 16px;
  border: none;
  color: #FCFBF9;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700; }
  .cabinet-btn:hover {
    background-color: #7D4550; }

.cabinet-registr {
  margin-top: 80px; }

.item-desktop-copyright--cabinet {
  margin-top: 200px; }

@media (min-width: 768px) {
  .cabinet-login {
    margin-top: 64px; }
  .cabinet-registr {
    margin-top: 180px; } }

.cabinet-login, .cabinet-registr {
  display: none; }

.cabinet-input__wrp {
  margin-top: 24px; }

.basket-input__before--2nd-name::before {
  content: 'Фамилия'; }

@media (min-width: 940px) {
  .cabinet-input__wrp {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 520px;
    border-top: none; } }

.cabinet-input__title {
  margin-top: 28px; }

.cabinet__order-wrp {
  border-top: 1px solid rgba(171, 168, 159, 0.18);
  padding-top: 24px;
  border-bottom: 1px solid rgba(171, 168, 159, 0.18);
  padding-bottom: 24px; }

.cabinet__order-info {
  color: #AEA4A2;
  font-weight: 300;
  line-height: 0px; }
  .cabinet__order-info span {
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    color: #5C4A4D; }
  .cabinet__order-info .cabinet__order-info--symbol {
    height: 16px;
    margin-right: 5px;
    margin-left: 5px;
    width: 1px;
    background-color: #AEA4A2;
    display: inline-block; }

.cabinet__order-status {
  margin-top: 4px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #AEA4A2;
  font-weight: 700; }

.cabinet__card-wrp {
  margin-top: 20px;
  display: flex;
  width: calc(100% + 12px);
  flex-wrap: wrap; }

.cabinet__card-img-wrp {
  width: 80px;
  height: 80px;
  margin-right: 12px;
  margin-bottom: 12px;
  overflow: hidden;
  border-radius: 12px;
  text-align: center; }
  .cabinet__card-img-wrp img {
    width: auto;
    height: 100%;
    transform: translateX(-16%); }

.cabinet__delivery-info {
  margin-top: 8px;
  margin-right: 16px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #716063;
  font-weight: 700; }

.cabinet__order-btn {
  width: 114px;
  height: 40px;
  background-color: #92525D;
  border-radius: 12px;
  text-align: center;
  border: none;
  margin-top: 26px;
  color: #FCFBF9; }
  .cabinet__order-btn:hover {
    background-color: #7D4550; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  outline: none !important;
  -webkit-tap-highlight-color: transparent; }

.page {
  display: grid;
  background-color: #F1EBDF; }

input:not([type=checkbox]):not([type=radio]),
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent; }
