.header {
  width: 100%; }

.header-toggle {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-weight: 600;
  display: flex;
  width: 96px;
  align-items: center; }
  .header-toggle p {
    color: #5C4A4D; }

.toggle-line__wrp {
  width: 22px;
  height: 14px;
  position: relative; }

.toggle-line {
  transition: .2s;
  width: 22px;
  height: 2px;
  display: inline-block;
  position: absolute;
  background-color: #5C4A4D;
  border-radius: 5px; }

.header-logo:hover {
  opacity: .6; }

.toggle-line--first {
  top: 0; }

.toggle-line--second {
  top: 6px; }

.toggle-line--third {
  top: 12px; }

.toggle--active .toggle-line--first {
  top: 6px;
  transform: rotate(45Deg); }

.toggle--active .toggle-line--second {
  transform: scale(0, 1); }

.toggle--active .toggle-line--third {
  top: 6px;
  transform: rotate(-45Deg); }

.header--mobile {
  display: flex;
  padding: 25px;
  justify-content: space-between; }

.header-nav {
  margin-bottom: 30px; }

.header-nav__first-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 170px; }

.header-nav__first-link {
  text-align: center;
  text-decoration: none;
  color: #AEA4A2;
  font-size: 16px;
  font-weight: 600; }
  .header-nav__first-link:hover {
    color: #5C4A4D; }

.header-nav__logo--desktop {
  display: none; }

.header-nav__second-list {
  display: flex;
  flex-direction: column;
  align-items: center; }

.header-nav__second-link {
  font-weight: 600;
  color: #5C4A4D;
  width: 100%;
  text-align: center;
  text-decoration: none; }
  .header-nav__second-link:hover {
    color: #EA854F; }

.nav-left-side {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75px;
  width: 100%;
  justify-content: space-between; }

.search-btn {
  margin-top: 2px;
  border: none;
  transition: .2s;
  background-color: rgba(0, 0, 0, 0); }
  .search-btn svg {
    fill: #5C4A4D; }
  .search-btn:hover svg {
    fill: #EA854F !important; }
  .search-btn:active {
    transform: scale(0.9); }

.favorite-btn {
  transition: .2s;
  margin-top: 2px; }
  .favorite-btn svg {
    fill: none;
    stroke: #5C4A4D; }
  .favorite-btn:hover svg {
    stroke: #EA854F; }
  .favorite-btn:active {
    transform: scale(0.9); }

.nav-right-side {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 200px;
  align-items: center; }

.header-basket {
  color: #5C4A4D;
  font-weight: 600;
  text-decoration: none; }
  .header-basket:hover {
    color: #EA854F; }

.header-banner {
  margin: 0 auto;
  width: 100%;
  padding: 0 25px; }
  .header-banner .header__banner-image {
    width: 100%; }

@media (min-width: 940px) {
  .header {
    padding: 0 40px; }
  .header--mobile {
    display: none; }
  .header-nav__first-list {
    border-bottom: 1px solid #E0DAD4;
    height: 50px;
    align-items: center;
    flex-direction: row; }
    .header-nav__first-list :first-child {
      width: 23%;
      text-align: left; }
    .header-nav__first-list :last-child {
      text-align: right;
      width: 23%; }
  .header-nav__second-list {
    padding-top: 25px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
    .header-nav__second-list .nav-left-side, .header-nav__second-list .nav-right-side {
      margin: 0;
      flex-direction: row;
      justify-content: space-between;
      width: 30%;
      max-width: 300px; }
    .header-nav__second-list .nav-right-side {
      padding-left: 5%; }
    .header-nav__second-list .header-nav__logo--desktop {
      display: block;
      width: 166px;
      height: 72px; }
  .header-nav__second-link {
    width: auto;
    text-align: left; }
  .header-banner {
    padding: 0; }
  .header-nav {
    margin-bottom: 25px; }
  .header {
    max-width: 1350px;
    margin: 0 auto; } }

.card-wrp {
  padding: 0 25px;
  margin-top: 25px; }

.card {
  min-height: 380px;
  max-height: 400px;
  margin-bottom: 25px; }

.card-img-wrp {
  width: 100%;
  height: 220px;
  overflow: hidden;
  position: relative;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px; }
  .card-img-wrp img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

@media (max-width: 380px) {
  /*.card-img-wrp{
        height: 180px;
    }
    .card{
        height: 340px;
    }*/
  .card-img-wrp img {
    width: 120%; } }

.card-body {
  padding: 20px 20px;
  min-height: 160px;
  max-height: 180px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #FCFBF9; }
  .card-body .card-price {
    font-weight: bold;
    font-size: 23px;
    line-height: 28px;
    font-feature-settings: 'salt' on;
    color: #5C4A4D; }
  .card-body .card-dividing-line {
    color: #E0DAD4; }
  .card-body .card-weight {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    font-feature-settings: 'salt' on;
    color: #AEA4A2; }
  .card-body .card-number-wrp {
    width: 135px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .card-body .card-name {
    font-size: 19px;
    line-height: 24px;
    color: #716063;
    font-weight: bold;
    margin-top: 5px; }

.card-basket-btn {
  margin-right: 12px;
  width: 120px;
  height: 40px;
  background: #92525D;
  border-radius: 12px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  transition: .2s;
  letter-spacing: 0.01em;
  color: #FCFBF9;
  border: none; }
  .card-basket-btn:hover {
    color: #FCFBF9;
    background: #7D4550; }
  .card-basket-btn:disabled {
    background: #AEA4A2;
    color: #E0DCDA; }

.card-btns {
  margin-top: 18px;
  display: flex; }

.card-favorite-btn {
  display: none; }

.card-favorite-btn + label {
  height: 40px;
  width: 40px;
  border: 1px solid rgba(146, 82, 93, 0.24);
  border-radius: 12px;
  display: inline-block;
  position: relative; }

.favor-not-checked, .favor-checked {
  position: absolute;
  transition: .3s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.card-favorite-btn:checked + label .favor-not-checked {
  max-width: 0px;
  max-height: 0px; }

.card-favorite-btn:checked + label .favor-checked {
  max-width: 16px;
  max-height: 14px; }

.favor-not-checked {
  width: 16px;
  height: 14px;
  max-width: 16px;
  max-height: 14px; }

.favor-checked {
  width: 16px;
  height: 14px;
  max-width: 0px;
  max-height: 0px; }

@media (min-width: 540px) and (max-width: 630px) {
  .card-img-wrp img {
    width: 145%; } }

@media (min-width: 540px) {
  .card-wrp {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px; }
  .card-body .card-name {
    height: 40px; } }

@media (min-width: 630px) and (max-width: 720px) {
  .card-img-wrp img {
    width: 115%; } }

@media (min-width: 940px) {
  .card-wrp {
    padding: 0 40px;
    margin-top: 40px; }
  .card-wrp {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 40px; } }

@media (min-width: 940px) and (max-width: 1119px) {
  .card-img-wrp img {
    width: 130%; } }

/*
@media (min-width:1119px) and (max-width: 1200px) {
    .card-img-wrp{
        //height: 155px;
        img{
            width: 125%;
        }
    }
    .card{
       // height: 315px;
    } 
}*/
@media (min-width: 1119px) {
  .card-wrp {
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 40px; }
  .card-img-wrp img {
    width: 120%; } }

@media (min-width: 1119px) and (max-width: 1269px) {
  .card-img-wrp img {
    width: 140%; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  outline: none !important; }

.page {
  display: grid;
  background-color: #F1EBDF; }
