@import "blocks/header.scss";
@import "blocks/card.scss";
@import "blocks/select.scss";
@import "blocks/category.scss";
@import "blocks/item.scss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  outline: none !important;
}

.page{
  display: grid;
  background-color: #F1EBDF;
}

