@import "blocks/header.scss";
@import "blocks/card.scss";
@import "blocks/select.scss";
@import "blocks/category.scss";
@import "blocks/item.scss";
@import "blocks/basket.scss";
@import "blocks/basket-input.scss";
@import "blocks/cabinet/cabinet.scss";
@import "blocks/article.scss";
@import "blocks/contacts.scss";


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  outline: none !important;
  -webkit-tap-highlight-color:transparent;
}

.page{
  display: grid;
  background-color: #F1EBDF;
}


input:not([type=checkbox]):not([type=radio]),
textarea, 
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color:transparent;
}