.card-wrp{
    padding: 0 25px;
    margin-top: 25px;
   
}

.card{
    min-height: 380px;
    padding-bottom: 24px;
    margin-bottom: 24px;
    background-color: #FCFBF9;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.card-img-wrp{
    width: 100%;
    height: 220px;
    overflow: hidden;
    position: relative;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    img{
        width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
}

@media(max-width:380px){
    .card-img-wrp{
        img{
            width: 120%;
        }
    }
}

.card-price{
    font-weight: bold;
    font-size: 23px;
    line-height: 28px;
    font-feature-settings: 'salt' on;
    color: #5C4A4D;
    padding-right: 8px;
}

.card-dividing-line{
    color: #E0DAD4;
    padding-right: 8px;
}
.card-weight{
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    font-feature-settings: 'salt' on;
    color: #AEA4A2;
}
.card-number-wrp{
    //width: 135px;
    height: 30px;
    margin: 20px 24px 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
}

.card-name{
    margin-left: 24px;
    margin-bottom: 20px;
    margin-right: 24px;
    font-size: 19px;
    line-height: 24px;
    color: #716063;
    font-weight: bold;
    margin-top: 5px;
}

.card-basket-btn{
    cursor: pointer;
    margin-right: 12px;
    //width: 120px;
    padding: 0 20px;
    height: 40px;
    background: #92525D;
    border-radius: 12px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    transition: .2s;
    letter-spacing: 0.01em;
    color: #FCFBF9;
    border: none;
    &:hover{
        color: #FCFBF9;
        background: #7D4550;
    }
    &:disabled{
        background: #AEA4A2;
        color: #E0DCDA;
    }
}

.card-btns{
    margin-left: 24px;
    margin-right: 24px;
    margin-top: auto;
    display: flex;
    
}

.card-favorite-btn{
    display: none;
}

.card-favorite-btn + label{
    height: 40px;
    width: 40px;
    border: 1px solid rgba(146, 82, 93, 0.24);
    border-radius: 12px;
    display: inline-block;
    flex-shrink: 0;
    position: relative;
    &:hover{
        background: #F9F6F0;
    }
}

.favor-not-checked, .favor-checked{
    position: absolute;
    transition: .3s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-favorite-btn:checked + label{
    .favor-not-checked{
        max-width: 0px;
        max-height: 0px;
    }
    .favor-checked{
        max-width: 16px;
        max-height: 14px;
    }
}

.favor-not-checked{
    width: 16px;
    height: 14px;
    max-width: 16px;
    max-height: 14px;
}
.favor-checked{
    width: 16px;
    height: 14px;
    max-width: 0px;
    max-height: 0px;
}

@media(min-width:540px){
    @media(max-width: 630px){
        .card-img-wrp{
            img{
                width: 145%;
            }
        }
    }
   
    .card-wrp{
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: space-between;
        &:after{
            display: flex;
            content: '';
            width: calc(33.3% - 27px);
        }
    }

    .card{
       width: calc(50% - 12px); 
       .card-basket-btn{
            color: #92525D;
            background-color: #FCFBF9;
            border: 1px solid rgba(146, 82, 93, 0.24);
            &:hover{
                background-color: #F9F6F0;
            }
            &:disabled{
                color: #AEA4A2;
                border: 1px solid #E0DAD4;
                cursor: default;
                background-color: #FCFBF9 !important;
            }
       }
    }
}
@media (min-width:630px) and (max-width: 720px) {
    .card-img-wrp{
        img{
            width: 125%;
        }
    }
    
}
@media(min-width:940px){

    .card-wrp{
        padding: 0 40px;
        margin-top: 40px;
        &:after{
            width: calc(33.3% - 27px);
        }
    }

    .card{
        width: calc(33.3% - 27px);
    }
    @media(max-width: 1119px){
        .card-img-wrp{
            img{
                width: 130%;
            }
        }
    }
}

@media(min-width:1119px){
    .card-wrp{
        max-width: 1350px;
        margin-left: auto;
        margin-right: auto;
        &:after{
            width: calc(25% - 30px);
        }
    } 
    
    .card{
        width: calc(25% - 30px);
    }
    .card-img-wrp{
        img{
            width: 120%;
        }
    }
    @media(max-width:1220px){
        .card-basket-btn{
            &:disabled{
                padding: 0 7px;
            }
        }
    }
    
    @media(max-width: 1269px){
        .card-img-wrp{
            img{
                width: 145%;
            }
        }
    }
}